
@{
    ViewData["Title"] = "Home";
}
<div class="row">
  <div class="col-md-8">
    <h1>Welcome to Portfolio Builder</h1>
    <p>Create and share your developer portfolio easily.</p>
  </div>
  <div class="col-md-4">
    <h5>Quick Links</h5>
    <ul>
      <li><a href="/Account/Register">Register</a></li>
      <li><a href="/Account/Login">Login</a></li>
    </ul>
  </div>
</div>
