
@model PortfolioBuilder.ViewModels.ResetPasswordViewModel
@{ ViewData["Title"] = "Reset Password"; }
<h3>Reset Password</h3>
<form method="post" asp-action="ResetPassword">
  <input type="hidden" name="UserId" value="@Model.UserId" />
  <input type="hidden" name="Token" value="@Model.Token" />
  <input name="Password" class="form-control mb-2" placeholder="New password" required />
  <input name="ConfirmPassword" class="form-control mb-2" placeholder="Confirm" required />
  <button class="btn btn-accent">Reset password</button>
</form>
